body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #FAAFBE;
    color:#2E1A47;
}

/*Header*/
.header {
    margin:20px;
    text-align: center;
    padding-left: 20px;
    background-color: #FAAFBE;
}

#logoHead {
    text-align: center;
    background-color: #FAAFBE;
}

img {
    max-width: 100%;
    border-radius: 2%;
}

/*Nav Bar*/
.nav > ul{
    overflow: hidden;
    list-style-type: none;
}

.nav > ul > li {
    display: inline;
    text-align: center;
    padding: 10px;
}

.nav > ul > li > a {
    text-decoration: none;
    color:#2E1A47;
}

/*footer*/
.footer{
    color: black;
    overflow: hidden;
    list-style-type: none;
    display: inline;
    text-align: center;
    padding: 10px;
    margin: 10px;
}  

.footLogo{
    text-align: center;
}

.footContact{
    overflow:hidden;
    list-style-type: none;
    float: right;
    padding: 10px;
}

/*Button*/
.button {
    background-color: #f6617f;
    border: none;
    border-radius: 25px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/*Home Page*/
.home-grid-container{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
}

.home-grid-item-1{
    grid-column: 1 / span 4;
    background-color: orchid;
    padding: 10px;
}

.home-grid-item-2{
    grid-column: 5 / span 4;
    background-color: forestgreen;
    padding: 10px;
}

.home-grid-item-3{
    grid-column: 9 / span 4;
    background-color: cornflowerblue;
    padding: 10px;
}


.home-grid-item-4{
    grid-column: 1 / span 9;
   /* background-color: purple; */
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.home-grid-item-5{
    grid-column: 10 / span 5;
    /* background-color: yellow; */
    padding: 10px;
    padding-top: 45px;
    color: #2E1A47;
    text-decoration: none;
}
.home-grid-item-5 > p > a {
    text-decoration: none;
}

#open{
    list-style-type: none;
    text-align: center;
}

/*Quiz*/
.home-grid-item-6{
    grid-column: 1 / span 13;
    padding: 10px;
    margin: 10px;
}

#song{
    padding: 10px;
    margin: 10px;
}

#beverage{
    padding: 10px;
    margin: 10px;
}

#music{
    padding: 10px;
    margin: 10px;
}

#hobby{
    padding: 10px;
    margin: 10px;
}


.home-grid-item-7{
    grid-column: 1 / span 13;
  /*  background-color: rgb(15, 235, 15); */
    padding: 10px;
}

.home-grid-item-7, #social{
    text-align: center;
    color: #2E1A47;
    text-decoration: none;
    color: 34282C;
}
.home-grid-item-7 > h2 > a {
    text-decoration: none;
}

.home-image-grid-1{
    grid-column: 1 / span 4;
    padding: 10px;
    max-width: 100%;
}

.home-image-grid-2{
    grid-column: 5 / span 4;
    padding: 10px;
    max-width: 100%;
}

.home-image-grid-3{
    grid-column: 9 / span 4;
    padding: 10px;
    max-width: 100%;
}

.home-image-grid-4{
    grid-column: 1 / span 4;
    padding: 10px;
    max-width: 100%;
}

.home-image-grid-5{
    grid-column: 5 / span 4;
    padding: 10px;
    max-width: 100%;
}

.home-image-grid-6{
    grid-column: 9 / span 4;
    padding: 10px;
    max-width: 100%;
}

.home-grid-item-8{
    grid-column: 1 / span 13;
    padding: 10px;
    text-align: center;
}


/*Menu Page*/
#menu{
    margin-left: 10px;
}

.menu-grid-container{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
}

.menu-grid-item-1{
    grid-column: 1 / span 8;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
    text-align: center;
}
.menu-grid-item-1 > ul {
    list-style-type: none;
}

.menu-grid-item-2{
    grid-column: 9 / span 4;
    padding: 10px;
    margin-right: 10px;
    max-width: 100%;
}

.menu-grid-item-3{
    grid-column: 1 / span 4;
    padding: 10px;
    margin-left: 10px;
    max-width:100%;
}

.menu-grid-item-4{
    grid-column: 5 / span 8;
    padding: 10px;
    margin-right: 10px;
    text-align: center;
    list-style-type: none;
    text-align: center;
}
.menu-grid-item-4 > ul {
    list-style-type: none;
}

.menu-grid-item-5{
    grid-column: 1 / span 4;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
}
.menu-grid-item-5 > p > a {
    text-decoration: none;
}

.menu-grid-item-6{
    grid-column: 5 / span 4;
    padding: 10px;
    max-width: 100%;
}

.menu-grid-item-7{
    grid-column: 9 / span 4;
    padding: 10px;
    margin-right: 10px;
    text-align: center;
}
.menu-grid-item-7 > p > a {
    text-decoration: none;
}

.menu-grid-item-8{
    grid-column: 1 / span 13;
    padding: 10px;
    margin-right: 10px;
    text-align: center;
}

/*About Us Page*/
#about{
   margin-left: 10px;
}

.about-grid-container{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
}

.about-grid-item-1{
    grid-column: 1 / span 13;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.about-grid-item-2{
    grid-column: 1 / span 13;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.about-grid-item-3{
    grid-column: 1 / span 4;
    max-width: 100%;  
    padding: 10px;
    margin-left: 10px;
}

.about-grid-item-4{
    grid-column: 5 / span 8;
    padding: 10px;
    margin-right: 10px;
}
.about-grid-item-4 > p > a {
    text-decoration: none;
}

.about-grid-item-5{
    grid-column: 1 / span 8;
    padding: 10px;
    margin-left: 10px;
    text-align: end; /*or not????*/
}
.about-grid-item-5 > p > a {
    text-decoration: none;
}

.about-grid-item-6{
    grid-column: 9 / span 4;
    max-width: 100%; 
    padding: 10px;
    margin-right: 10px;
}

.about-grid-item-7{
    grid-column: 1 / span 4;
    max-width: 100%; 
    padding: 10px;
    margin-left: 10px;
}

.about-grid-item-8{
    grid-column: 5 / span 8;
    padding: 10px;
    margin-right: 10px;
}
.about-grid-item-8 > p > a {
    text-decoration: none;
}

.about-grid-item-9{
    grid-column: 1 / span 8;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
}
.about-grid-item-9 > p > a {
    text-decoration: none;
}

.about-grid-item-10{
    grid-column: 9 / span 4;
    padding: 10px;
    margin-right: 10px;
}

.about-grid-item-11{
    grid-column: 1 / span 4;
    padding: 10px;
    margin-left: 10px;
}

.about-grid-item-12{
    grid-column: 5 / span 8;
    padding: 10px;
    margin-right: 10px;
    text-align: center;
}
.about-grid-item-12 > p > a {
    text-decoration: none;
}

/*Book Page*/
#book{
    margin-left: 10px;
}

.book-grid-container{
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(12, 1fr);
}

.book-grid-item-1{
    grid-column: 1 / span 3;
    padding: 10px;
    text-align: start;
    margin-top: 40px;
}
.book-grid-item-1 > ul {
    list-style-type: none;
}
.book-grid-item-1 > p > a {
    text-decoration: none;
}

.book-grid-item-2{
    grid-column: 4 / span 9;
    padding: 10px;
    margin-right: 10px;
    max-width: 100%;
}

.book-grid-item-3{
    grid-column: 1 / span 13;
    padding: 10px;
}

.book-grid-item-4{
    grid-column: 1 / span 4;
    padding: 10px;
    text-align: center;
}

.book-grid-item-6{
    grid-column: 5 / span 4;
    padding: 10px;
    text-align: center;
}

.book-grid-item-8{
    grid-column: 9 / span 4;
    padding: 10px;
    max-width: 100%;
    text-align: center;
}

.book-grid-item-5{
    grid-column: 1 / span 4;
    padding: 10px;
    max-width: 100%;
}

.book-grid-item-7{
    grid-column: 5 / span 4;
    padding: 10px;
    max-width: 100%;
}

.book-grid-item-9{
    grid-column: 9 / span 4;
    padding: 10px;
    max-width: 100%;
}

.book-grid-item-10{
    grid-column: 1 / span 4;
    padding: 10px;
    text-align: center;
}

.book-grid-item-12{
    grid-column: 5 / span 4;
    padding: 10px;
    text-align: center;
}

.book-grid-item-14{
    grid-column: 9 / span 4;
    padding: 10px;
    text-align: center;
}

.book-grid-item-11{
    grid-column: 1 / span 4;
    padding: 10px;
    max-width: 100%;
}

.book-grid-item-13{
    grid-column: 5 / span 4;
    padding: 10px;
    max-width: 100%;
}

.book-grid-item-15{
    grid-column: 9 / span 4;
    padding: 10px;
    max-width: 100%;
}